* {
    margin: 0;
    padding: 0;
}

body {
       min-height: 100vh;   
}

dl,
ol,
ul {
    margin: 0rem !important;
    padding: 0 2rem !important;
}


/* Navigation Bar */

.dropdown-menu {
    padding: 0 !important;
}

.container-fluid .navbar-brand {
    font-size: 1.3em;
}

.navbar-brand img {
    width: 25px;
    vertical-align: top;
    margin-right: 5px;
}

.navbar-brand, .navbar-collapse {
    padding: 5px 15px;
    flex-grow: 1;
}
.navbar-collapse {
    margin: 0 25px 0 0;
}
.navbar-nav {
    flex-grow: 1;
    justify-content: space-evenly;
}

.dropdown-menu li a{
    padding: 15px;
}

.dropdown-menu .active {
background-color: black !important
}

.dropdown-divider {
    margin:  0 !important;
}


/* Slider */

.carousel-item {
    max-height: 500px;
}

/* Description */
.grid-text {
    display: grid;
    grid-template-columns: 50% 50%;
}

.section-1 {
    background: url(../images/malmo.jpg) center/cover no-repeat;
    min-height: 300px;
    width: 100%;
}

.section-2 {
    background: url(../images/wine.jpg) center/cover no-repeat;
    min-height: 300px;
    width: 100%;
}

.description h1 {
    margin-bottom: 20px;
}

.description .text {
    padding: 30px;
    text-align: justify;
}

.description .image img {
    width: 100%;
}

.hide {
    display: none;
}

.img-hidden-left, .img-hidden-right {
    display: none;
}

.text .buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    margin: 0 20px;
}

.reverce .buttons {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    margin: 0 20%;
}

.text .blockquote {
    text-align: left;
    font-size: 1.2em;
    font-style: italic;
}

/* About page */
article h1 {
    text-align: center;
    margin: 20px;
}

article .text {
    margin: 0 12%;
}

article .text .image-left {
    width: 300px;
    float: left;
    margin: 10px 30px 10px 0;
}

article .text .image-right {
    width: 400px;
    float: right;
    margin: 10px 0 10px 30px;
}

article .text ul,
article .text ol {
    padding: 1rem !important;
    line-height: 1.5rem;
}

/* Menu page */

.main-image {
    background: url("../images/menu.jpg");
    height: 400px;
}


/* Accordion */
.accordion-button {
    font-size: 1.2rem !important;
}

.accordion-button:not(.collapsed)::after {
    background-color: #eee;
    border-radius: 50%;
    }

.accordion-button:focus { 
    box-shadow: none !important;
}

/* Footer */
.btn a {
    color: black;
    text-decoration: none;
}
.btn {
     margin: 10px 0;
    
}

.flex-grow-1 {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-grow-1 a, .flex-grow-1 a:visited {
    color: #999999;
}

.flex-grow-1 a:hover {
    color: #ffffff;
}

.flex-grow-1 a:active {
    color: #ffffff;
    text-decoration: underline;
}

.footer {
    text-align: center;
    padding-top: 10px;
}

.footer-icons {
    display: flex;
    flex-wrap: wrap;
}

.footer-icons li {
    list-style-type: none;
    flex-basis: 40px;
}

.footer-icons .fa-brands {
    margin: 0 2px;
}

.copy {
    font-size: 0.8em;
    font-weight: bold;
    flex-grow: 1;
    text-align: right;
}

/* Modal */

.modal-content h3, .modal-content h4, .modal-content p, .modal-content ol,  .modal-content ul {
    color: #333;
}

.modal-body p, .modal-body ol,
.modal-body ul {
    text-align: justify;
}

.modal-body ol li,
.modal-body ul li {
    margin-bottom: 10px;
}

.modal-body h4 {
    margin: 15px 0;
}

.modal-body a {
    color: brown;
    text-decoration: none;
}

.modal-body a:hover {
    text-decoration: underline;
}

.modal-body a:active {
    color: rgb(76, 5, 5);
}


/* MOBILE DEVICE LANDSCAPE */

@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {}

/* LARGE and  XL */

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .grid-text:nth-child(1) {
        display: block;
    }
    .grid-text:nth-child(2) {
        display: block;
    }
    .grid-text .image {
        display: none;
    }
    .grid-text .text {
        line-height: 1.2;
    }
    .img-hidden-left {
        display: block;
        width: 300px;
        float: left;
        margin: 10px 20px 10px 0;
    }
    .img-hidden-right {
        display: block;
        width: 200px;
        float: right;
        margin: 10px 0 20px 20px;
    }
    .grid-text {
        min-height: 400px;
    }
    .description .text {
        padding: 15px 30px;
    }
    .description .text h1, .description .text h2 {
        text-align: center;
    }
    article .text {
    margin: 0 2%;
    }

    .image-center {
        text-align: center;
    }

    article .text .image-left {
        width: 300px;
        float: left;
        margin: 10px 20px 10px 0;
    }

    article .text .image-right {
        width: 60%;
        float: none;
        margin: 10px 0;
    }
}

/* SMALL and MEDIUM */

@media only screen and (max-width: 991px) {
    .navbar-brand, .navbar-collapse {
        padding: 5px 15px;
        margin-left: 5px;
    }
    .grid-text {
        grid-template-columns: 100%;
    }
    .reverce {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    dl,
    ol,
    ul {
        padding: 0 1rem !important;
    }
    .text .buttons {
        grid-template-columns: 100%;
        gap: 0px;
    }
    article .text {
        margin: 0 2%;
    }

    .image-center {
        text-align: center;
    }

    article .text .image-left {
        max-width: 80%;
        float: none;
        margin: 10px 0;
    }

    article .text .image-right {
        max-width: 80%;
        float: none;
        margin: 10px 0;
    }

    article .text ul,
    article .text ol {
        padding: 1rem 0 1rem 1rem !important;
        line-height: 1.5rem;
    }
}






