* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
            "header header header"
            "slider slider slider"
            "main main aside"
            "footer footer footer";
    grid-template-columns: 250px 1fr 250px; 
}

ol,
ul {
    padding-left: 0rem !important;
    margin-bottom: 0rem !important;
}

/* Navigation Bar */

.header {
    grid-area: header;
}

.navbar .navbar-collapse {
    padding: 20px;
}

.navbar-brand {
    text-transform: uppercase;
    padding: 20px;
}

.navbar-brand img {
    width: 25px;
    position: relative;
    top: -5px;
}

/* Slider */

.slider {
    grid-area: slider;
}

.carousel-inner {
    
}

.description {
    grid-area: main;
    padding: 20px;
}

.events {
    grid-area: aside;
    padding: 20px;
}

.footer {
    grid-area: footer;
    padding: 20px;
}


/* Mobile */

@media only screen and (max-width: 1024px) {

}