* {
    margin: 0;
    padding: 0;
}

body {
       min-height: 100vh;   
}

dl,
ol,
ul {
    margin: 0rem !important;
    padding: 0 2rem !important;
}

.text {
    min-height: 65vh;
}

.center {
    text-align: center;
}

.font-size-22 {
    font-size: 1.4rem;
}

.justify {
    text-align: justify;
}

.red {
    color: rgb(214, 20, 20);
}
label {
    margin: 10px 0 5px 0;
}
textarea {
    padding: 10px;
}


/* Navigation Bar */

.dropdown-menu {
    padding: 0 !important;
}

.container-fluid .navbar-brand {
    font-size: 1.3em;
}

.navbar-brand img {
    width: 25px;
    vertical-align: top;
    margin-right: 5px;
}

.navbar-brand, .navbar-collapse {
    padding: 5px 15px;
    flex-grow: 1;
}

.navbar-collapse {
    margin: 0 25px 0 0;
}

.navbar-nav {
    flex-grow: 1;
    justify-content: space-evenly;
}

.dropdown-menu li a{
    padding: 15px;
}

.dropdown-menu .active {
background-color: black !important
}

.dropdown-divider {
    margin:  0 !important;
}


/* Slider */

.carousel-item {
    max-height: 500px;
}

/* Main */
.grid-text {
    display: grid;
    grid-template-columns: 50% 50%;
}

.section-1 {
    background: url(../images/malmo.jpg) center/cover no-repeat;
    min-height: 300px;
    width: 100%;
}

.section-2 {
    background: url(../images/wine.jpg) center/cover no-repeat;
    min-height: 300px;
    width: 100%;
}

.description h1 {
    margin-bottom: 20px;
}

.description .text {
    padding: 30px;
    text-align: justify;
}

.description .image img {
    width: 100%;
}

.hide {
    display: none;
}

.img-hidden-left, .img-hidden-right {
    display: none;
}

.text .buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    margin: 0 20px;
}

.reverce .buttons {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    margin: 0 20%;
}

.text .blockquote {
    text-align: left;
    font-size: 1.2em;
    font-style: italic;
}

.text h3 {
    margin-bottom: 20px;
    font-size: 2rem;
}

/* About page */

article h1 {
    text-align: center;
    margin: 20px;
}

article .text {
    margin: 0 12%;
}

article .text .image-left {
    width: 300px;
    float: left;
    margin: 10px 30px 10px 0;
}

article .text .image-right {
    width: 400px;
    float: right;
    margin: 10px 0 10px 30px;
}

article .text ul,
article .text ol {
    padding: 1rem !important;
    line-height: 1.5rem;
}

/* Images for headers */

.header-menu {
    background: url("../images/menu.jpg") no-repeat;
    max-height: 250px;
}

.header-reservation {
    background: url("../images/reservation.jpg") no-repeat;
    max-height: 250px;    
}

.header-contacts {
    background: url("../images/contacts.jpg") no-repeat;
    max-height: 250px;
}

.header-menu h1, .header-reservation h1, .header-contacts h1 {
    margin: 0;
    padding: 100px;
    text-shadow: 0 0 30px #ffffff;
    font-size: 3rem;
}

/* Menu page */

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 40px;
}

/* Cards */

.card-body {
    display: grid;
    grid-template-columns: 100%;
}

.special-card {
    grid-column-start: 1;
    grid-column-end: 3;
}

.special-card .card-body::after, .special-card-1 .card-body::after, .special-card-2 .card-body::after {
    content: "Special offer";
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px 20px;
    color: white;
    background-color: rgb(11, 115, 120);
    font-weight: bold;

}

.special-card-1 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.special-card-2 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.card-text {
    text-align: center;
    align-self: center;
}

.card h5{
    text-align: center;
    align-self: center;
}

.card .card-price {
    align-self: self-end;
    font-size: 1.2rem;
}

/* Reservations */

.reservations {
    padding: 20px 30%;
    background-color: #eeeeee;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px #eee;
}

/* Contacts */

.contacts h3 {
    margin-top: 30px;
}

.contacts h2, .contact-form h2 {
    margin-bottom: 30px;
}

.contacts .link a {
    color: rgb(214, 20, 20);
    text-decoration: none;
}

.contacts .link a:hover {
    text-decoration: underline;
}

.contacts .link a:active {
    color: rgb(76, 5, 5);
    text-decoration: none;
}

.contact-form {
    padding: 20px 30%;
    background-color: #eeeeee;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 0 5px #eee;
    width: 100%;
}

.form-group textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
}

.form-group textarea:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

/* Map */

#map-container {
    position: relative;
    width: 100%;
    height: 100%;
}



/* Accordion */
.accordion-button {
    font-size: 1.2rem !important;
}

.accordion-button:not(.collapsed)::after {
    background-color: #eee;
    border-radius: 50%;
    }

.accordion-button:focus { 
    box-shadow: none !important;
}

/* Footer */
.btn a {
    color: black;
    text-decoration: none;
}
.btn {
     margin: 10px 0;
    
}

.flex-grow-1 {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-grow-1 a, .flex-grow-1 a:visited {
    color: #999999;
}

.flex-grow-1 a:hover {
    color: #ffffff;
}

.flex-grow-1 a:active {
    color: #ffffff;
    text-decoration: underline;
}

.footer {
    text-align: center;
    padding-top: 10px;
}

.footer-icons {
    display: flex;
    flex-wrap: wrap;
}

.footer-icons li {
    list-style-type: none;
    flex-basis: 40px;
}

.footer-icons .fa-brands {
    margin: 0 2px;
}

.copy {
    font-size: 0.8em;
    font-weight: bold;
    flex-grow: 1;
    text-align: right;
}

/* Modal */

.modal-content h3, .modal-content h4, .modal-content p, .modal-content ol,  .modal-content ul {
    color: #333;
}

.modal-body p, .modal-body ol,
.modal-body ul {
    text-align: justify;
}

.modal-body ol li,
.modal-body ul li {
    margin-bottom: 10px;
}

.modal-body h4 {
    margin: 15px 0;
}

.modal-body a {
    color: brown;
    text-decoration: none;
}

.modal-body a:hover {
    text-decoration: underline;
}

.modal-body a:active {
    color: rgb(76, 5, 5);
}


/* MOBILE DEVICE LANDSCAPE */

@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {}

/* LARGE and  XL */

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .grid-text:nth-child(1) {
        display: block;
    }
    .grid-text:nth-child(2) {
        display: block;
    }
    .grid-text .image {
        display: none;
    }
    .grid-text .text {
        line-height: 1.2;
    }
    .img-hidden-left {
        display: block;
        width: 300px;
        float: left;
        margin: 10px 20px 10px 0;
    }
    .img-hidden-right {
        display: block;
        width: 200px;
        float: right;
        margin: 10px 0 20px 20px;
    }
    .grid-text {
        min-height: 400px;
    }
    .description .text {
        padding: 15px 30px;
    }
    .description .text h1, .description .text h2 {
        text-align: center;
    }
    article .text {
    margin: 0 2%;
    }

    .image-center {
        text-align: center;
    }

    article .text .image-left {
        width: 300px;
        float: left;
        margin: 10px 20px 10px 0;
    }

    article .text .image-right {
        width: 60%;
        float: none;
        margin: 10px 0;
    }
    .reservations {
        padding: 5% 30%;
    }

    .contact-form {
        padding: 5% 30%;    
    }
    #map-container, #map-container iframe  {
        min-height: 400px;
    }


}

/* SMALL and MEDIUM */

@media only screen and (max-width: 991px) {
    .navbar-brand, .navbar-collapse {
        padding: 5px 15px;
        margin-left: 5px;
    }
    .grid-text {
        grid-template-columns: 100%;
    }
    .reverce {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    dl,
    ol,
    ul {
        padding: 0 1rem !important;
    }
    .text .buttons {
        grid-template-columns: 100%;
        gap: 0px;
    }
    article .text {
        margin: 0 2%;
    }

    .image-center {
        text-align: center;
    }

    article .text .image-left {
        max-width: 80%;
        float: none;
        margin: 10px 0;
    }

    article .text .image-right {
        max-width: 80%;
        float: none;
        margin: 10px 0;
    }

    article .text ul,
    article .text ol {
        padding: 1rem 0 1rem 1rem !important;
        line-height: 1.5rem;
    }
    .header-menu h1, .header-contacts h1,  .header-reservation h1 {
        margin: 0;
        padding: 50px;
        font-size: 2rem;
    }

    .menu-grid {
        grid-template-columns: 1fr 1fr;
    }

    .special-card, .special-card-1, .special-card-2 {
        grid-column-start:auto;
        grid-column-end: auto;
    }
    #map-container,
    #map-container iframe {
        min-height: 300px;
    }

    .contact-form {
        padding: 10%;
    }

}

@media only screen and (max-width: 576px) {

    .menu-grid {
            grid-template-columns: 100%;
        }

    .reservations {
        padding: 10%;
    }    

    
}






